.homepage {
    display: flex;            
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    height: calc(100vh - 60px); 
    padding: 16px;
}
  
.homepage h1 a{
    margin: 0;                
    font-size: 32px;          
    color: #333; 
    text-align: center;            
}
  