
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
  background-color: #88b3c9;
  border-radius: 10px;
  padding: 20px;
  margin: 10px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  width: 300px;
  height: 380px;
  margin-top: 20px;
}

img{
  width: 200px;
  height: 200px;
}
#imagen img {
  width: 100%;
  border-radius: 50%; 
  margin-bottom: 10px; 
}

.card div {
  margin-bottom: 15px; 
}

